img{
    width: 10em;
    height: 10em;
}
.menu{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.contact{
    min-height: 500px;
}
.div-main{
    min-height: 500px;
}
.count-input{
    width: 50%;
}
.cart-item{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.test{
    background-color: red;
}
.cart-ind-item{
    display: flex;
}
.cart-details{
    min-width: 300px;
}